<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form
        name="form"
        (ngSubmit)="add()"

        >
          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Sign Up</p>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            #username="ngModel" placeholder="username" />

          </div>

          <div class="form-outline mb-4">
            <input type="text"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            #password="ngModel" placeholder="password" />

          </div>

          <div class="form-outline mb-4">
            <input type="text"
            class="form-control"
            name="matricule"
            [(ngModel)]="form.matricule"
            required
            #matricule="ngModel" placeholder="matricule" />

          </div>

          <div class="form-outline mb-4">
            <input type="text"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            #email="ngModel" placeholder="email" />

          </div>

          <div class="form-outline mb-4">
            <input type="text"
            class="form-control"
            name="nom"
            [(ngModel)]="form.nom"
            required
            #nom="ngModel" placeholder="nom" />

          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="text"
            class="form-control"
            name="prenom"
            [(ngModel)]="form.prenom"
            required
            #prenom="ngModel" placeholder="prenom" />

          </div>

          <div class="form-group">


          </div>
          <br>
          <button type="submit" class="btn btn-primary">Register</button> |
          <button type="button" class="btn btn-danger">Cancel</button>



        </form>
      </div>
    </div>
  </div>
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2020. All rights reserved.
    </div>
    <!-- Copyright -->

    <!-- Right -->
    <div>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="#!" class="text-white">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <!-- Right -->
  </div>
</section>
