
<app-menu></app-menu>
<div class="centopp">
<div class="col-md-3"></div>
<div class="col-md-3" style="margin-left:900px">
    
    
<form>
        
    <mat-icon type="button" class="searchicon"  data-bs-toggle="modal"  data-bs-target="#exampleModal" tabindex="1"> search</mat-icon>
        
    
    
    
</form></div>

  <div class="col-md-9 " ><h2 style="color: #001B85;">Consultation d'opposition et saisie Arrets</h2>

    <br>
    <br>
    <br>
    
<!-- Button trigger modal -->

<!--button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
  
  <Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Consultation d'opposition</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="form-group" ><p style="">Matricule : </p><input type="text" name="matricule"> </div>
          <br>
          <div class="form-group"><p style="">Prêt : </p><input type="text" name="matricule"> </div>
          <button type="button" class="btn btn-outline-primary btnrecherche">Recherche</button>
          <br>

            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Matricule</th>
                    <th scope="col">Nom & Prénom</th>
                    <th scope="col">Code Prêt</th>
                    <th scope="col">Libellé</th>
                    <th scope="col">Organisme</th>
                    <th scope="col">Libellé</th>

                  </tr>
                </thead>
                <tbody>
                  <tr (click)="anotherFunction($event)">
                    <th scope="row">opps.id</th>
                    <td>opps.nom</td>
                    <td>opps.matricule</td>
                    <td>opps.code</td>
                    <td>opps.libelleC</td>
                    <td>opps.organisme</td>
                  </tr>
                
                </tbody>
              </table>

           
              
              
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div><div class="cadre-table-scroll">
<table class="table table-borderless" style="width: 100%;background-color:azure">
    <!--thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead-->
    <tbody>
      <tr>
        <th scope="row">Matricule</th>
        <td>****</td>
        <th scope="row">Nom & Prénom</th>
        <td>****</td>
        <th scope="row">Date d'embauche</th>
        <td>****</td>
      </tr>
      <tr>
        <th scope="row">Organisme</th>
        <td>****</td>
        <th scope="row">Libellé</th>
        <td>****</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Groupe</th>
        <td>****</td>
        <th scope="row">Type Prêt</th>
        <td>****</td>
        <th scope="row">Libellé</th>
        <td>****</td>
      </tr>
      <tr>
        <th scope="row">Date demande</th>
        <td>****</td>
        <th scope="row">Montant demandé</th>
        <td>****</td>
        <th scope="row">Montant accordé</th>
        <td>****</td>
      </tr>
      <tr>
        <th scope="row">Mois début</th>
        <td>****</td>
        <th scope="row">Membre mentualités payées</th>
        <td>****</td>
        <th scope="row">Mois fin</th>
        <td>****</td>
      </tr>
      <tr>
        <th scope="row">Date saisie</th>
        <td>****</td>
        <th scope="row">Rembouressement mensuel</th>
        <td>****</td>
        <th scope="row">Code Prêt</th>
        <td>****</td>
      </tr>
      <tr>
        <th scope="row">Dérniere retenue</th>
        <td>****</td>
        <th scope="row">Etat Prêt</th>
        <td>****</td>
        <th scope="row"> Ref session</th>
        <td>****</td>
      </tr>
      <tr>
        <th scope="row">Montant remboursé</th>
        <td>****</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table></div>


  <br>
  <br>
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>N Lig</th>
        <th>Type Bulletin</th>
        <th>Libellé</th>
        <th>Libellé Acte</th>
        <th>Date tranche réel</th>
        <th>Retenue</th>
        <th>Rest cap pret</th>
        <th>Validé</th>
        <th>Régler</th>
      
      </tr>

    </thead>
    <tbody>
      <tr>
        <td>
          <div class="d-flex align-items-center">
           
            <div class="ms-3">
              <p class="fw-bold mb-1">John Doe</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">Software engineer</p>
        </td>
        <td>
          <span class="badge badge-success rounded-pill d-inline">Active</span>
        </td>
        <td>Senior</td>
        <td>
       
        </td>
        <td>
            <div class="d-flex align-items-center">
             
              <div class="ms-3">
                <p class="fw-bold mb-1">John Doe</p>
              </div>
            </div>
          </td>
          <td>
            <p class="fw-normal mb-1">Software engineer</p>
          </td>
          <td>
            <span class="badge badge-success rounded-pill d-inline">Active</span>
          </td>
          <td>Senior</td>
          <td>
          
          </td>
         
        
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
         
            <div class="ms-3">
              <p class="fw-bold mb-1">Alex Ray</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">Consultant</p>
        </td>
        <td>
          <span class="badge badge-primary rounded-pill d-inline"
                >Onboarding</span
            >
        </td>
        <td>Junior</td>
        <td>
      
        </td>
        <td>
            <div class="d-flex align-items-center">
             
              <div class="ms-3">
                <p class="fw-bold mb-1">John Doe</p>
              </div>
            </div>
          </td>
          
          <td>
          
          </td>
          <td>
            <p class="fw-normal mb-1">Software engineer</p>
          </td>
          <td>
            <span class="badge badge-success rounded-pill d-inline">Active</span>
          </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
           
            <div class="ms-3">
              <p class="fw-bold mb-1">Kate Hunington</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">Designer</p>
        </td>
        <td>
          <span class="badge badge-warning rounded-pill d-inline">Awaiting</span>
        </td>
        <td>Senior</td>
        <td>
      
        </td>
        <td>
            <div class="d-flex align-items-center">
             
              <div class="ms-3">
                <p class="fw-bold mb-1">John Doe</p>
              </div>
            </div>
          </td>
          <td>
            <p class="fw-normal mb-1">Software engineer</p>
          </td>
          <td>
            <span class="badge badge-success rounded-pill d-inline">Active</span>
          </td>
          <td>Senior</td>
          <td>
          
          </td>
       
      </tr>
    </tbody>
  </table>
  </div>

